/***********************************
 *    Accueil
 *
 **********************************/
/* General */


.when{
	padding-left: 1.5em;
	font-size: 1.5em;
	background: url("img/icones.png") -26px -106px no-repeat;
}

.where{
	font-family: Courier;
	font-weight: bold;
	padding-left: 3em;
	font-size: 0.75em;
	line-height: 1.2;
	background: url("img/icones.png") -26px -188px no-repeat;
}

.evenement-by{ 
	font-size: 0.875em;
	padding: 0.3em 0;
	a.more{ float: right; }
}

a.more{
	text-decoration: none;
	&:hover, &:active, &:focus{ text-decoration: underline; }
	span{ 
		display: inline-block;
		vertical-align: middle;
		height: 15px;
		width: 13px;
		background: url("img/icones.png") -33px -834px no-repeat; 
	}
}

a.btn.register{ 
	padding-left: 2.125em;
	background-color: @rouge;
	background: url("img/icones.png") -14px -266px no-repeat, url("img/bg-btn-red.jpg") top left repeat;
	.transition(all .3s ease);
	&:after {
		content:"?";
	}
	&:hover, &:active, &:focus{ 
		color: @blanc;
		background: url("img/icones.png") -14px -346px no-repeat, url("img/bg-btn-red.jpg") top left repeat; 

		&:hover:after {
			content:"!";
		}
	}
}

.registered{
	display: inline-block;
	font-size: 1.250em;
	background: url("img/icones.png") -28px -31px no-repeat; 
	padding: 0 1em 0 1.75em;
	margin-top: 10px;
}


/* Une */
.une{ 
	position: relative; 
	border-bottom: 1px solid #eed584;
	background: @nuages url("img/bg-une.jpg") bottom center no-repeat;
	&:after{ 
		content: " ";
		position: absolute;
		bottom: 0;
		width: 100%;
		display: block; 
		border-top: 1px solid #eed584;
		border-bottom: 1px solid @jaune;
	}
}


/* Evenements */
article.evenement{
	position: relative;
	/* article en pleine page */
	&.big{
		max-width: 48.75em;
		min-height: 25.000em; 
		margin: 0 auto;
		padding: 3.125em 6.250em;
		h1{ margin: 0.333em 0; }
		.description, .category{ font-size: 0.875em; font-family: @fontbase }
		.infos .when, .infos .where{ float: left; padding-left:10%; width: 40%; }
		.thumbnail{
			position: absolute;
			top: 0;
			right: 50%;
			padding: 3.750em;
			background: url("img/image-circle.png") top left no-repeat;
		}		
		.evenement-by{ 
			border-top: solid 1px @gris; 
			border-bottom: solid 1px @gris;
			padding: 0.3em 0;
			margin: 1em 0;
		}
	}

	/* autres evenements */
	&.small{
		width: 40%;
		max-width: 255px;
		float: left;
		margin: 1em 5%;
		h2{ border-bottom: 3px solid #e5eae0; padding-bottom: 0.615em; }
		.thumbnail{
			float: right;
			width: 40%; 
		}
		.infos{ 
			float: right;
			width: 60%; 
		}
	}
}

.thumbnail img{ border-radius: 100%; }

section{
	text-align: center;
	article{ text-align: left; }
}

.evenements{
	background: @blanc;
	padding-bottom: 2em;
	.wrapper{
		position: relative;
		margin: 0 auto;
		max-width: 665px;
	}
}

.associations{
	position: relative;
	color: @blanc;
	background: @gris;
	padding-bottom: 2em;
	.wrapper{
		position: relative;
		margin: 0 auto;
		max-width: 340px;
	}
}


/* Associations */
article.association{
	position: relative;
	float: left;
	width: 100%;
	max-width: 255px;
	margin: 1em 5%;
	min-height: 90px;
	h2{ 
		margin-left: 40%;
		margin-bottom: 0.25em;
		margin-top: 0.25em;
		padding-bottom: 0.25em;
		border-bottom: 3px solid @rouge; 
	}
	.thumbnail{
		position: absolute;
		top: 0;
		left: 0;
	}
	a.more{ margin-left: 40%; }
}

/* Push badges */
.pushbadges {
	background: #eee;

	.intro {
		float: none;
		display: inline-block;
		vertical-align: middle;
		text-align: left;
		font-family: @fontbase;

		h3 {
			text-transform: none;
			font-weight: bold;
			font-style: italic;
			font-family: @fontbase;
		}

		p {
			font-size: .85em;
		}

		.fun {
			display: inline-block;
			.animation-duration(1.2s);
			.animation-iteration-count(infinite);
			.transition(all .3s ease);
	    }
	}

	.badges {
		vertical-align: middle;
		display: inline-block;
		width: 66%;

		figure {
			display: inline-block;
			margin: 1em;
			.animation-iteration-count(infinite);
		}
	}

	&:hover{
		.fun{
			font-size: 2em;
		}
	}
}

