/***********************************
 *    Géneral
 *
 **********************************/
html, button, input, select, textarea {
	color: @grisfonce;
}

body {
	font-size: 1em;
	line-height: 1.4;
	background: @gris;
	font-family: @fontbase;
	-webkit-font-smoothing: antialiased;
}

img{ max-width: 100%; }

a{  
	color: @rouge;
	text-decoration: underline;
}

.content{
	text-align: left;
}

/* Fonts */
a.btn, 
input.btn,
button.btn,
input.search,
h1, h2, h3,
.notification, 
.login,
header nav a, 
header nav span.current,
.registered,
.evenement-by,
.when,
.more,
.edit{
	font-family: @fonttitre;
	font-weight: normal;
	text-transform: uppercase;
}

/* Titres */
h1{ font-size: 2.250em; line-height: 1; }
h2{ font-size: 1.625em; line-height: 1; }
h3{}

h1, h2, h3, h4{
	a{
		color: inherit;
		text-decoration: none;
		&:hover, &:active, &:focus{
			text-decoration: underline;
		}
	}
}

h1.banner, .banner{
	position: relative;
	display: inline-block;
	padding: 0.65em 1em;
	margin-top: 0;
	top: -1.25em;
	font-size: 1.250em;
	color: @blanc;
	background: url("img/bg-btn-gold.jpg") top left repeat; 
	&:before, &:after{
		content: " ";
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		margin-left: -7px;
		height: 46px;
		width: 7px;
		background: url("img/icones.png") 0 -720px no-repeat; 
	}
	&:after{
		left: auto;
		right: 0;
		margin-left: 0;
		margin-right: -7px;
		background-position: 0 -640px; 
	}
}

/* Boutons */
a.btn, input.btn, button.btn{
	display: inline-block;

	min-height: 1.5em;
	margin: 10px 10px 0 0;
	padding: 0 1em;

	background: @bgrouge;
	border-radius: 1.5em;
	cursor: pointer;
	box-shadow: 0 2px 2px rgba(0,0,0,0.3);
    outline: none;
    border: none;

	font-size: 1.250em;
    color: @blanc;
    text-decoration: none;
    line-height: 1.5em;
    text-align: center;
    text-shadow: 0 1px @gris;

	&:hover{ 
		color: @jaune;
	}
}

a.close{
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	width: 17px;
	height: 17px;
	padding: 0.85em;
	background: url("img/icones.png") -18px -498px no-repeat;
}

/* Recherche */
input.search{
	min-height: 1.5em;
	padding: 0 15px;
	margin: 0 0 0.7em 0;

	font-size: 1.250em;
	color: @blanc;
	background: @rouge;
	outline: none;
	border: none;
	border-radius: 1.5em;
	width: 4em;
	transition: width 0.5s ease;

	&.field{ 
		padding-right: 2.25em;	
		&:focus{
			width: 6em;
			box-shadow: inset 0 0 4px @rougefonce;
			transition: width 0.5s ease;
			&+input.search.submit{
				width: 6.25em;
				transition: width 0.5s ease;
			}
			&::-webkit-input-placeholder{ color:@rouge; }
			&:-moz-placeholder{ color:@rouge; }
			&::-moz-placeholder{ color:@rouge; }
			&:-ms-input-placeholder{ color:@rouge; }
		}
	}
	&.submit{
		margin-left: -1.5em;
		background: @rougefonce url("img/icones.png") -25px -425px no-repeat;
		width: 0;
		text-indent: 0.875em;
		&:hover, &:active, &:focus{
			color: @jaune;
		}
	}
	&::-webkit-input-placeholder{ color: mix(@blanc, @rouge, 50%); }
	&:-moz-placeholder{ color: mix(@blanc, @rouge, 50%); }
	&::-moz-placeholder{ color: mix(@blanc, @rouge, 50%); }
	&:-ms-input-placeholder{ color: mix(@blanc, @rouge, 50%); }
}
form.search{
	position: relative;
	display: inline;
}



input[type=checkbox] {
	visibility: hidden;
}

/* SLIDE THREE */
.slideThree {
	width: 80px;
	height: 26px;
	background: @grisfonce;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	position: relative;

	float: right;
}

.slideThree:after {
	content: 'NON';
	font: 12px/26px @fontbase;
	color: @nuages;
	position: absolute;
	right: 10px;
	z-index: 0;
	font-weight: bold;
	text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}

.slideThree:before {
	content: 'OUI';
	font: 12px/26px @fontbase;
	color: @nuages;
	position: absolute;
	left: 10px;
	z-index: 0;
	font-weight: bold;
}

.slideThree label {
	display: block;
	width: 34px;
	height: 20px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
	cursor: pointer;
	position: absolute;
	top: 3px;
	left: 3px;
	z-index: 1;

	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	background: #fcfff4;

}

.slideThree input[type=checkbox]:checked + label {
	left: 43px;
}


/* Cover */
.cover{
	position: relative;
	height: 350px;
	background-position: center center;
	background-size: 100%; //fallback
	background-size: cover;
	background-repeat: no-repeat;
	background-clip: cover;

	.center{ height: 100%; }

	h1{
		position: absolute;
		bottom: 0;
		left: 5.000em;
		margin: 0.3em 0;
		color: #fff;
		text-align: right;
		z-index: 10;
		text-shadow: 2px 2px 8px black;
	}

	figure{
		position: absolute;
		bottom: -4.875em; //78px
		padding: 0.5em;
		border-radius: 100%;
		background-color: @nuages;
		line-height: 0;
		z-index: 10;
		img{
			border-radius: 100%;
		}
	}

	&:after{
		content: " ";
		position: absolute;
		bottom: 0;
		left: 0;
		height: 100px;
		width: 100%;
		background: url("img/bg-grad.png") bottom left repeat-x;
	}
}

/* Grille */
.col-2,
.col-3, 
.col-3-2, 
.col-6{
	float: left;
	margin-right: 5%;
	&:last-child{ margin-right: 0; }
}

.col-2{ width: 47.5%; }
.col-3{	width: 30%; }
.col-3-2{ width: 65%; }
.col-6{	width: 12.5%; }

.float-6{ 
	float: left;
	margin-left: 2.5%;
	margin-right: 2.5%;
	width: 11.666%; 
}