div.content.event{
	background: @nuages;

	section{
		padding-bottom: 6em;
		position: relative;

		&:before{
			content: " ";
			position: absolute;
			top: -3px;
			width: 100%;
			display: block;
			border-top: 1px solid #eed584;
			border-bottom: 1px solid @jaune;
			z-index: 0;
		}
	}
}

section.description{
	.map{
		.google{
			width: 100%;
			height: 350px;
			background: @jaune;

			a img { display:none; } 
			.gmnoprint[style="z-index: 1000001; position: absolute; right: 95px; bottom: 0px;"]{
				display: none;
			}
			.gmnoprint[style~="font-size"]{
				display: none;
			}
		}
	}

	&:before{
		display: none !important;
	}

	article{
		margin-top: 1em;
		-webkit-column-width: 15em;
		-webkit-column-gap: 3em;
	}

	figure{
		margin-top: -155px;
		position: relative;
		float: left;
		margin-right: 2em;
		img{
			border-radius: 100%;
    		border: 5px solid #f7bb11
		}
	}
}

section.comments{
	label{
		display: block;
		font-family: @fonttitre;
		font-size: 1.625em;
		line-height: 1;
	}

	textarea{
		display: block;
		padding: 1em 5%;
		margin-top: 0.5em;
		width: 90%;
		height: 10em;
		outline: none;
		background: @nuages;
		border: 1px dashed @rougefonce;
		border-radius: 0.75em;
		resize: none;
		.transition();

		&:focus{
			background: @blanc;
			border-color: @gris;
			.transition();
		}
	}
}

.comment{
	margin-bottom: 2em;
	&.answer{ margin-left: 12.5%; }

	h2{
		margin: 0;
	}

	figure{
		float: left;
		width: 10%;
		margin-right: 2.5%;
		img{ border-radius: 100%; }
	}

	article{
		float: left;
		width: 87.5%;
	}

	.date{
		float: right;
		margin-left: 1em;
		color: @gris;
		font-size: 0.875em;
	}

	.text{
		font-size: 0.875em;
	}
}

section.share{
	.image{
		float: left;
		width: 50%;
	}

	.instagram{
		float: left;
		background-color: @rougefonce;
		line-height: 0;
		img{
			width: 100%;
		}

		&.big{
			width: 90%;
			margin: 2.5%;
			padding: 2.5%;
		}

		&.small{
			width: 40%;
			margin: 2.5%;
			padding: 2.5%;
		}
	}
}

section.participants{
	.participant{
		margin-bottom: 1em;

		figure{
			width: 30%;
			margin-right: 10%;
			float: left;
		}

		h3{
			width: 60%;
			margin: 0;
			line-height: 1;
			float: left;
		}
	}
}

section.promoters{
	.association{
		margin-bottom: 3em;

		figure{
			width: 15%;
			margin-right: 2.5%;
			float: left;
			img{ border-radius: 100%; }
		}

		article{
			width: 82.5%;
			margin: 0;
			line-height: 1;
			float: left;
		}

		h2{ margin: 0; }

		.text{ font-size: 0.875em; }

		a.more{
			float: right;
			margin: 0.25em 0 0.25em 1em;
		}
	}
}

section.badges{
	.badge{
		margin-bottom: 3em;

		figure{
			width: 25%;
			margin-right: 2.5%;
			float: left;
			img{ border-radius: 100%; }
		}

		article{
			width: 72.5%;
			margin: 0;
			line-height: 1;
			float: left;
		}

		h2{ margin: 0; }

		.text{ font-size: 0.875em; }

		a.more{
			float: right;
			margin: 0.25em 0 0.25em 1em;
		}
	}
}

@media @screenmedium{ 
	section.share{
		.image{
			float: none;
			width: 100%;
		}
	}
}