div.content.event{
	padding-top: 1em;
	padding-bottom: 1em;
	background: @nuages;

	section{
		padding-bottom: 6em;
	}
}

section.description{
	.map{
		float: right;
		padding: 3.750em;
		background: url("img/image-circle.png") top left no-repeat;

		.google{ //a supprimer quand on aura la vrai carte
			width: 330px;
			height: 330px;
			background: @jaune;
			border-radius: 100%;
		}
	}
}