div.content.profil{
	background: @nuages;

	section{
		text-align: left;
		margin-bottom: 5em;

		h1.banner{
			top: 0;
		}

		h2{
			margin-bottom: 0;
		}

		form{
			text-align: left;
		}
	}
}

section.identity{
}

section.social{
	.col-3{

		span{
			font-size: 0.875em;
			color: #999;
		}
	}
}

.menu-aside{
	a{ 
		display: block;
		font-family: @fonttitre;
		font-weight: normal;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 1.50em;
		margin-bottom: 0.3em; 
		line-height: 1;
		text-align: right;
		&.current{ color: @grisfonce; }
		&:hover, &:active, &:focus{ color: @jaune; }
	}
}