@media @screenmedium{
	.col-3{	width: 47.5%;	}

	.col-3-2{ width: 47.5%; }

	.col-6{	width: 20%;	}
	.float-6{ width: 20%; }
	.float-3{ width: 45% !important; }

	article.evenement{
		&.small{
			width: 90%;
			max-width: none;
		}

		&.big{
			padding: 2em 5%;
		}
	}
}

@media @screensmall{
	.col-2,
	.col-3, 
	.col-3-2, 
	.col-6{
		margin-right: 0;
		&:last-child{ margin-right: inherit; }
	}

	.col-2{ width: 100%; }
	.col-3{	width: 100%; }
	.col-3-2{ width: 100%; }
	.col-6{	width: 47.5%; }
	.float-6{ width: 45%; }
	.float-3{ width: 95% !important; }

	.center{ 
		width: 90%;
		margin: 0 5%;
	}

	header{
		.login{
			position: relative;
		}

		nav.main-menu{
			position: relative;
			overflow: visible;
			.menu{
				display: none;

				a{
					display: block;
				}

				&.ouvert{
					display: block;
					position: absolute;
					top: 58px;
					left: 0;
					width: 100%;
					background: @gris;
					z-index: 1000;
				}
			}
		}
	}

	section.description{
		figure {
			margin: 0;
		}
	}

	input.search{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		&.field{
			padding-left: 1em;
			padding-right: 2em;
			margin: 0.7em 0;
			width: 100%;
			&:focus{
				width: 100%;
				&+input.search.submit{
					width: 0;
				}
			}
		}
		&.submit{
			margin-left: -30px;
			width: 0;
		}
	}

	form.search{
		display: block;
		margin-left: 60px;
		margin-right: 1em;
	}



	.burger {
		position: relative;
		display: block;
		float: left;
		width: 44px;
		height: 44px;
		margin: 7px;
		color: #fff;
		padding-top: 4px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		font-size: 0;
		cursor: pointer;
		&:hover .line, &:active .line, &:focus .line{
			background: @jaune;
		}
	}

	.line {
		width: 60%;
		height: 4px;
		background: #fff;
		border-radius: 4px;
		color: #fff;
		display: block;
		margin: 6px auto; 
	}

	section.share>article.group>.col-3-2{
		padding-bottom: 2em;
	}

	article.evenement.big{
		padding-bottom: 5em;

		figure{ 
			position: relative;
			right: auto; 
			padding: 1em;
		}

		.left-50{ 
			margin-left: 0 !important; 
		}
	}

	.pushbadges{
		.intro{
			width: 100%;
		}

		.badges{
			width: 100%;
		}
	}

	.menu-aside{
		margin-bottom: 2em;


		a{
			margin-bottom: 0.5em;
			text-align: center;
		}
	}

	footer{
		font-size: 1.125em;

		.col-3{
			margin-bottom: 2em;
		}

		nav a{
			margin: 0.5em 0;
		}
	}

	section.badges{
		.badge{
			width: 100%;
			position: relative;
			margin-top: 2em;
			figure{
				position: static;
				float: none;
				width: 60%;
				margin: 0 15%;
				top: 0;
				left: 0;
				text-align: center;
				img{ border-radius: 0; }
			}
			h2{
				margin-bottom: 1em !important;
				margin-left: 0;
				text-align: center;
			} 
			p{
				margin-left: 0;
				margin-top: 1m;
			}
		}
	}
}